{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

    <h1>Liste des utilisateurs</h1>
    <p>{{utilisateurs|length}} utilisateurs incrits</p>

    {% for utilisateur in utilisateurs %}
        <div class="utilisateur-card">
            <h2><a href="{{ path('show_utilisateur', {'id': utilisateur.id })}}">{{utilisateur}}</a></h2>
            <p>Email : {{utilisateur.email}}</p>
            <p>Date d'inscription : {{ utilisateur.registerDate|date('d/m/Y', "Europe/Paris") }} à {{ utilisateur.registerDate|date('H:i', "Europe/Paris") }}</p>
        </div>
    {% endfor %}

{% endblock %}
