{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>

    {% else %}

    <div class="form-wrapper login">
        
        <form method="post">

            <h1>Connexion</h1>

            <div class="form">
                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
            </div>

            <div class="form">
                <label for="password">Mot de passe</label>
                <input type="password" name="_password" id="password" autocomplete="current-password" required>
            </div>
        
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox">
                <label for="_remember_me">Se souvenir de moi</label>
                <input type="checkbox" name="_remember_me" id="_remember_me">
            </div>

            <button class="btn login-submit" type="submit">
                Connexion
            </button>
            
        </form>

        <p>Pas inscrit ? <a class="login-link" href="{{ path('app_register')}}">Inscrivez vous</a></p>
        <a class="login-link" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>

    </div>

    {% endif %}

{% endblock %}
