{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body_class %}login-register-page{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>

    {% else %}
        
        <form method="post" class="login-register">

            <h1>Connexion</h1>

            <div class="form input-box">
                <label class="floating-label" for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username"  autocomplete="email" required>
                <i class="fa-solid fa-envelope"></i>
            </div>

            <div class="form input-box">
                <label class="floating-label" for="password">Mot de passe</label>
                <input type="password" name="_password" id="password" autocomplete="current-password" required>
                <i class="fa-solid fa-lock"></i>
            </div>
        
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="login-options">
            
                <div class="checkbox login-register-checkbox">
                    <label for="_remember_me">Se souvenir de moi</label>
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                </div>

                <a class="login-register-link" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>

            </div>


            <button class="btn login-register-submit" type="submit">
                Connexion
            </button>

            <a class="login-with-google-btn" href="{{ path('connect_google')}}">Se connecter avec Google</a>

            <p>Pas encore inscrit ? <a class="login-register-link" href="{{ path('app_register')}}" style="font-weight: 700;">Créez un compte</a></p>
            
        </form>

    {% endif %}

{% endblock %}
