{% extends 'base.html.twig' %}

{% block body_class %}login-register-page{% endblock %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class="form-wrapper login-register">
        <h1>Inscription</h1>

        {{ form_start(registrationForm, {'attr' : {'class': 'login-register'}}) }}

            {{ form_row(registrationForm.email) }}

            {{ form_row(registrationForm.username) }}

            {{ form_row(registrationForm.plainPassword) }}
            
            {{ form_errors(registrationForm) }}
            
            {{ form_row(registrationForm.agreeTerms) }}

            {{ form_widget(registrationForm.valider)}}

        {{ form_end(registrationForm) }}

        <p>Déjà inscrit ? <a class="login-register-link" href="{{ path('app_login')}}" style="font-weight: 700;">Connectez vous</a></p>
    </div>
{% endblock %}
