{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

    <div class="admin-wrapper">
        <details class="details-user">
            <summary>Liste des utilisateurs</summary>
            <p>{{utilisateurs|length}} utilisateurs incrits</p>

            {% for utilisateur in utilisateurs %}
                <div class="utilisateur-card">
                    <h2>
                        <a href="{{ path('show_utilisateur', {'id': utilisateur.id })}}">{{utilisateur}}</a> 
                        {% if 'ROLE_ADMIN' in utilisateur.roles %}
                            - Admin
                        {% else %}
                            - Utilisateur
                        {% endif %}
                    </h2>
                    <p>Email : {{utilisateur.email}}</p>
                    <p>Date d'inscription : {{ utilisateur.registerDate|date('d/m/Y', "Europe/Paris") }} à {{ utilisateur.registerDate|date('H:i', "Europe/Paris") }}</p>
                </div>
            {% endfor %}
        </details>

        <details class="details-niveau" open>
            <summary>Niveaux</summary>
            <a class="btn add-btn admin-add" href="{{ path('new_niveau')}}">Ajouter un niveau</a>
            <h3>Liste des niveaux</h3>
            <div class="admin-niveau-wrapper">
                {% for niveau in niveaux %}
                    <div class="admin-niveau">
                        <h2><a href="{{ path('show_niveau', {'id': niveau.id})}}">{{niveau}}</a></h2>
                        <a class="btn add-btn" href="{{ path('edit_niveau', {'id': niveau.id})}}">Modifier le niveau</a>
                    </div>
                {% endfor %}
            </div>
        </details>

        <details>
            <summary>Étape</summary>
        </details>

        <details>
            <summary>Avis</summary>
        </details>
    </div>

{% endblock %}
