{% extends 'base.html.twig' %}

{% block title %}
Modification du Profil
{% endblock %}

{% block body %}
          
    {{ form_start(formAddUtilisateur, {'attr' : {'class': 'form-wrapper'}}) }}

        <h1>Modifier le profil</h1>

        {% if app.user.googleUser != 1 %}
            {{ form_row(formAddUtilisateur.email)}}
        {% endif %}

        {{ form_row(formAddUtilisateur.username) }}

        {{ form_row(formAddUtilisateur._token) }}

        {{ form_widget(formAddUtilisateur.valider) }}

    {{ form_end(formAddUtilisateur, {'render_rest': false}) }}


{% endblock %}