{% extends 'base.html.twig' %}

{% block title %}{{ utilisateur.username }}{% endblock %}

{% block body %}
    <h1>Profil de {{ utilisateur.username }}</h1>

    <p>Email : {{ utilisateur.email }}</p>
    <p>Date d'inscription : {{ utilisateur.registerDate|date('d/m/Y') }} à {{ utilisateur.registerDate|date('h:i') }}</p>
{% endblock %}
