{% extends 'base.html.twig' %}

{% block title %}{{ utilisateur }}{% endblock %}

{% block body %}

    {% if (app.user == utilisateur) or (is_granted('ROLE_ADMIN')) %}
        
        <div class="title profil-title">
            <h1>Profil de {{ utilisateur }}</h1> 
            <a class="btn add-btn" href="{{ path('edit_utilisateur', {'id': utilisateur.id})}}">Modifier le profil</a>
        </div>

        <div class="profil-infos">
            <h2>Informations</h2>
            <p>Email : {{ utilisateur.email }}</p>
            <p>Date d'inscription : {{ utilisateur.registerDate|date('d/m/Y', "Europe/Paris") }} à {{ utilisateur.registerDate|date('H:i', "Europe/Paris") }}</p>
        </div>

        <div class="profil-progression">
            <h2>Progression</h2>
            <div class="profil-niveaux-wrapper">
                {# Pour chaque niveau + ses progressions de l'utilisateur #}
                {% for niveau, progressions in groupedProgressions %}
                    <div class="profil-niveau">
                        <h3>{{niveau}}</h3>
                        {# Pour chaque etape des progression de l'utilisateur #}
                        {% for progression in progressions %}
                            <p>
                                <a href="{{ path('show_etape', {'id': progression.etape.id}) }}">{{ progression.etape }}</a>
                                {# Si l'etape est complétée, on affiche l'icone #}
                                {% if progression.done %}
                                    <i class="fa-solid fa-check"></i>
                                {% endif %}
                            </p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="profil-posts">
            {% for post in posts %}
                <div class="post">
                    <div class="post-top">
                        {% if 'ROLE_ADMIN' in post.utilisateur.roles %}
                            <h3 title="Admin">
                                <i class="fa-solid fa-lock admin"></i>
                                {{post.utilisateur}}
                            </h3>
                        {% else %}
                            <h3>{{post.utilisateur}}</h3>
                        {% endif %}
                        <p>{{post.dateCreation|date("d/m/Y")}} à {{post.dateCreation|date("H:i")}}</p>
                    </div>

                    <span class="post-text">{{post.contenu|striptags('<p>,<strong>,<em>,<ul>,<ol>,<li>,<a>')|raw}}</span>
                        
                    <div class="post-bottom">
                        <a href="{{ path('show_etape', {'id': post.etape.id}) }}">Aller à la discussion</a>
                    </div>
                </div>
                
            {% endfor %}
        </div>

    {% endif %}

{% endblock %}
