<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}"></body>
    
    <body>
        <nav>
            <a class="logo" href="{{ path('app_home')}}"><img src="" alt="">LOGO</a>
            <ul class="nav-links">
                <li class="nav-link"><a title="Acccueil" href="{{ path('app_home')}}">Accueil</a></li>
                <li class="nav-link"><a title="Niveaux" href="{{ path('app_niveau')}}">Niveaux</a></li>
                <li class="nav-link"><a title="Inscription" href="">Inscription</a></li>
                <li class="nav-link"><a title="Connexion" href="">Connexion</a></li>
                {# {% if condition %} #}
                    <li class="nav-link"><a title="Profil" href="">Profil</a></li>
                {# {% endif %} #}
            </ul>
        </nav>

        <main>
        {% block body %}
        {% endblock %}
        </main>
    </body>
</html>