{% extends 'base.html.twig' %}

{% block title %}{{ etape }}{% endblock %}

{% block body %}

    <section class="sidebar">
        <h2><a href="{{ path('show_niveau', {'id': etape.niveau.id})}}">{{etape.niveau}}</a></h2>
        <ul>
            {% for etape in etape.niveau.etapes %}
                <li>
                    <a href="{{ path('show_etape', {'id': etape.id})}}">{{etape}}</a>
                    {# {% if condition %}<i class="fa-solid fa-check"></i>{% endif %} #}
                </li>
            {% endfor %}
        </ul>
    </section>

    <section class="etape-main">

        <div class="titre">
            <h1>{{etape}}</h1>
            <a class="btn add-btn" href="{{ path('edit_etape', {'id': etape.id})}}">Modifier l'étape</a>
        </div>

        <p>{{etape.description}}</p>

        <div class="video"></div>
    
        <div class="pdf">
            {% if etape.pdf %}
                <h2>Document PDF</h2>
                <iframe src="{{ asset(etape.pdf)}}" width="600" height="800"></iframe>
            {% else %}
                <p>Pas de document PDF disponible.</p>
            {% endif %}
        </div>

        <button class="btn open-btn">Étape finie</button>

        <dialog class="modal" id="modal">

            <button class="btn close-btn">X</button>

            <div class="modal-text">
                <h3>Félicitations!</h3>
                <p>Vous avez fini cette étape</p>
            </div>

            <div class="modal-btns">
                {# {% if etapePrecedente %}
                    <a  class="modal-btn" href="{{ path('updateProgression', {'id': etape.id, 'id_utilisateur': app.user.id }) }}">Étape précédente<br>{{etapePrecedente.nomEtape}}</a>
                {% endif %} #}

                {% if etapeSuivante %}
                    <a  class="modal-btn" href="{{ path('updateProgression', {'id': etape.id }) }}">Étape suivante<br>{{etapeSuivante.niveau}} - {{etapeSuivante}}</a>
                {% endif %}
            </div>

        </dialog>

    </section>


{% endblock %}