{% extends 'base.html.twig' %}

{% block title %}{{ etape }}{% endblock %}

{% block body %}

    {% if app.user %}
    
        <div id="etape">
                
            <section id="sidebar">

                <h2><a class="no-underline" href="{{ path('show_niveau', {'id': etape.niveau.id})}}">{{etape.niveau}}</a></h2>
                <div class="etape-progression-wrapper">
                    <div class="progression-line"></div>
                    <ul>
                        {# On boucle à travers les étapes #}
                        {% for etape in etapes %}
                            <li>
                                <a class="no-underline" title="{{etape}}" href="{{ path('show_etape', {'id': etape.id})}}">{{etape}}</a>
                                {# Si l'étape actuelle à une entrée dans le tableau associatif et qu'elle est complétée, on affiche l'icone #}
                                {% if (progressionsMap[etape.id] is defined) and (progressionsMap[etape.id]) %}
                                    <i class="fa-solid fa-check"></i>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </section>

            <div class="separator"></div>

            <section id="etape-main">

                <div class="titre">
                    <h1>{{etape}}</h1>
                    <a class="btn add-btn" href="{{ path('edit_etape', {'id': etape.id})}}">Modifier l'étape</a>
                </div>

                <h2>Description</h2>
                <p>{{etape.description}}</p>

                <div class="video">
                    {% if etape.video %}
                        <h2>Vidéo</h2>
                        <iframe allowfullscreen class="yt-video" src="{{etape.video}}" frameborder="0"></iframe>
                    {% endif %}
                </div>
            
                <div class="pdf">
                    {% if etape.pdf %}
                        {# <h2>Document PDF</h2>
                        <iframe class="pdf-file" src="{{ asset(etape.pdf)}}" frameborder="0"></iframe> #}

                        {# <object class="pdf-file" data="{{ asset(etape.pdf) }}" type="application/pdf"></object> #}
                        <embed src="{{ asset(etape.pdf) }}" frameborder="0" width="100%" height="1000px"
                    {% endif %}
                </div>


                <button class="btn" id="open-btn-etape">Étape finie</button>

                <dialog class="modal" id="modal-etape">

                    <button class="btn close-btn" id="close-btn-etape">X</button>

                    <div class="modal-text">
                        <h3>Félicitations!</h3>
                        <p>Vous avez fini cette étape</p>
                    </div>

                    <div class="modal-btns">
                        {% if etapeSuivante %}
                            <a class="modal-btn" href="{{ path('updateProgression', {'id': etape.id }) }}">{{etapeSuivante.niveau}} - {{etapeSuivante}}</a>
                        {% else %}
                            <a class="modal-btn" href="{{ path('updateProgression', {'id': etape.id }) }}">Cours fini!</a>
                        {% endif %}
                    </div>

                </dialog>

                <div id="forum">

                    <div class="titre">
                        <h2>Forum</h2>
                    </div>
                    

                    <div class="post-wrapper">
                        {% for post in posts %}
        
                            {# Affichage des posts #}        
                            <div class="post op" id="{{ post.id }}">
                                <div class="post-top">
                                    {% if 'ROLE_ADMIN' in post.utilisateur.roles %}
                                        <h3 title="Admin" class="admin">
                                            <i class="fa-solid fa-lock"></i>
                                            {{post.utilisateur}}
                                        </h3>
                                    {% else %}
                                        <h3>{{post.utilisateur}}</h3>
                                    {% endif %}
                                    <p>{{post.dateCreation|date("d/m/Y")}} à {{post.dateCreation|date("H:i")}}</p>
                                </div>
                                <span class="post-text">{{post.contenu|striptags('<p>,<strong>,<em>,<ul>,<ol>,<li>,<a>')|raw}}</span>
                                <div class="post-bottom">
                                    <div>
                                        <button class="reponse-btn" data-post-id="{{ post.id }}">Répondre</button>

                                        {% if app.user == post.utilisateur %}
                                            <button class="open-btn" id="open-btn-post">Supprimer</button>
                                            <dialog class="modal" id="modal-post">
                                                <button class="btn close-btn" id="close-btn-post">X</button>
                            
                                                <div class="modal-text">
                                                    <h3>Êtes-vous sur de vouloir supprimer ce post ?</h3>
                                                </div>
                            
                                                <div class="modal-btns">
                                                    <a class="modal-btn delete-btn" href="{{ path('post_delete', {'id': post.id }) }}">Supprimer</a>
                                                </div>
                                            </dialog>
                                        {% endif %}
                                    </div>

                                    {% if post.parent %}
                                        <p class="respond-to">En réponse à <a href="#{{post.parent.id}}" class="respond-to-link" data-reply-id="{{post.parent.id}}">{{post.parent.utilisateur}}</a></p>
                                    {% endif %}

                                </div>

                                {# Formulaire de réponse #}
                                <div class="reponseForm form-wrapper" id="reponse-form-{{ post.id }}">
                                    {{ form_start(reponseForms[post.id]) }}
                                    {{ form_widget(reponseForms[post.id]) }}
                                    {{ form_end(reponseForms[post.id]) }}
                                </div>
                                

                            </div>
        
        
                            {# Afficher les réponses #}
                            {# {% if post.replies|length > 0 %}
                                    {% for reply in post.replies %}
                                        <div class="reponse post">

                                            <div class="post-top">
                                                <h3>{{reply.utilisateur}}</h3>
                                                <p>{{reply.dateCreation|date("d/m/Y")}} à {{reply.dateCreation|date("H:i")}}</p>
                                            </div>
                                            <span>{{reply.contenu|striptags('<p>,<strong>,<em>,<ul>,<ol>,<li>,<a>')|raw}}</span>

                                            {% if reply.parent|length > 0 %}
                                                <p class="post-bottom">En réponse à <a href="#{{post.id}}">{{ reply.parent.utilisateur}}</a></p>
                                            {% endif %}

                                        </div>
                                    {% endfor %}
                            {% endif %}   #}
        
                        {% endfor %}
                    </div>
        
                    <div class="form-wrapper post-form">
                        <h2>Écrire un post</h2>
                        {{ form(formAddPost) }}
                    </div>
        
                </div>
        

            </section>

        </div>

    {% else %}

        <p>Connectez vous pour accéder au contenu</p>

        <a class="btn" href="{{ path('app_login')}}">Connexion</a>

    {% endif %}

{% endblock %}