{% extends 'base.html.twig' %}

{% block title %}Liste des niveaux{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn add-btn" href="{{ path('new_niveau')}}">Ajouter un niveau</a>
    {% endif %}
    
    <div class="niveau-wrapper">
        {% for niveau in niveaux %}
            <div class="niveau">
                <h2><a href="{{ path('show_niveau', {'id': niveau.id}) }}">{{niveau}}</a></h2>
                <div class="etapes-wrapper">
                    {% for etape in niveau.etapes %}

                        <div class="niveau-etape">
                            <div class="niveau-etape-title">
                                <h3>{{etape}}</h3>
                                {% if (progressionsMap[etape.id] is defined) and (progressionsMap[etape.id]) %}
                                    <i class="fa-regular fa-circle-check" title="Étape finie"></i>
                                {% endif %}
                                {% if (progressionsMap[etape.id] is defined) and not (progressionsMap[etape.id]) %}
                                    <i class="fa-regular fa-circle" title="Étape en cours"></i>
                                {% endif %}
                            </div>
                            <p class="niveau-etape-desc">{{ etape.description|u.truncate(200, '...', false) }}</p>
                            <a class="arrow-link" href="{{ path('show_etape', {'id': etape.id})}}"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                        
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}