{% extends 'base.html.twig' %}

{% block title %}Liste des niveaux{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn add-btn" href="{{ path('new_niveau')}}">Ajouter un niveau</a>
    {% endif %}
    
    <div class="niveau-wrapper">
        {% for niveau in niveaux %}
            <div class="niveau">
                <h2><a href="{{ path('show_niveau', {'id': niveau.id}) }}">{{niveau}}</a></h2>
                <div class="etapes-wrapper">
                    {% for etape in niveau.etapes %}

                        <div class="niveau-etape">
                            <h3>{{etape}}</h3>
                            <p>{{ etape.description|u.truncate(200, '...', false) }}</p>
                            <a href="{{ path('show_etape', {'id': etape.id})}}">En savoir plus</a>
                        </div>
                        
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
