{% extends 'base.html.twig' %}

{% block title %}{{ niveau.nomNiveau }}{% endblock %}

{% block body %}

    <a href="{{ path('app_niveau')}}">Liste des niveaux</a>
    <h1>{{niveau.nomNiveau}}</h1>

    <a class="btn add-btn" href="{{ path('edit_niveau', {'id': niveau.id})}}">Modifier le niveau</a>

    <a class="btn add-btn" href="">Commencer le cours</a>


    {% for etape in etapes %}
        <h2>{{ etape.ordre }} - <a href="{{ path('show_etape', {'id': etape.id})}}">{{ etape.nomEtape }}</a> </h2>
        <p> {{ etape.description }} </p>
    {% endfor %}

{% endblock %}