{% extends 'base.html.twig' %}

{% block title %}{{ niveau.nomNiveau }}{% endblock %}

{% block body %}

    <h1>{{niveau.nomNiveau}}</h1>

    <a class="btn add-btn" href="{{ path('edit_niveau', {'id': niveau.id})}}">Modifier le niveau</a>

    <a class="btn add-btn" href="">Commencer le cours</a>


    {% for etape in etapes %}
        <h2> {{ etape.nomEtape }} </h2>
        <p> {{ etape.description }} </p>
        <p> {{ etape.ordre }} </p>
    {% endfor %}

{% endblock %}